<ion-content class="no-scroll"  (click)="showTab()">
    <div class="container" (click)="showTab()">
        <div class="dSchool" *ngFor = "let item of NewData">
            <div class="thumb">
              <ion-avatar>
                <img src="{{item.image}}" />
              </ion-avatar>
            </div>
            <div class="Dname">
              <div class="name">
                <p>
                  {{item.schoolname}}
                </p>
              </div>
              <!-- <div class="todo">
                <p text-end><a>Todo: 3 | Done: 57 | Declined: 34</a></p>
              </div> -->
            </div>
          </div>
        </div>
      <div class="graph" (click)="showTab()">
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-subtitle>Number of Students per day</ion-card-subtitle>
            <ion-card-title>Name of instructor</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <canvas #barChart></canvas>
          </ion-card-content>
        </ion-card>
      </div>

</ion-content>