.no-scroll .scroll-content{
  overflow: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    .avatar-images {
      width: 100%;
      height: 30vh;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      &::before {
          position: absolute;
          content: '';
          top: 0;
          height: 22.5vh;
          width: 100%;
          background: linear-gradient(#4C0A0A, #790B0B);
      }

      .rev {
        position: absolute;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-direction: column;
        top: 0;
        right: 0;
        padding-right: 2px;
      }

      .thumbavatar {
          position: relative;
          width: 15vh;
          height: 15vh;
          border: 4px solid rgb(255, 255, 255);
          border-radius: 50%;
          object-fit: cover;
         /*  margin-left: -50px;
          left: 50%;
          bottom: 0%;
          margin-bottom: 0px; */
        
      }
      .name > h4 {
          position: relative;
          text-align: center;
      }
     
  }
    .inputs {
        // height: 70%;
    }
    // .btn {
    //     display: flex;
    //     justify-content: center;
    //     ion-button {
    //         width: 80%;
    //     }
    // }
    .item.item-trns {
        background: rgba(226, 223, 223, 0) !important;
    }
    ion-list {
        background: transparent;
    }
    .packs {
      width: 100%;
      display: flex;
      // background: red;
      .inp{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .input {
          p {
            font-size: 80%;
        background: linear-gradient(#4C0A0A,#790B0B);
        color: white;
        width: 50%;
        padding: 2px;
        border-radius: 200px;
        position: absolute;
        top: -9px;
        left: 20px;
        margin: 0;
          }
        }
      }
      button {
        background: linear-gradient(#4C0A0A,#790B0B);
        width: 60%;
        height: 20px;
        border-radius: 10px;
        color: white;
      }
      .s-packs {
        width: 50%;
        overflow-y: auto;
        padding: 10px 0px;
        display: grid;
        align-items: center;
        .pack-l {
          width: 90%;
          margin: 7px auto;
          background: linear-gradient(#4C0A0A,#790B0B);
          padding: 2px;
          border-radius: 10px;
          position: relative;
          color: white;
          
          .dele {
            position: absolute;
            top: 0px;
            right: -5px;
            z-index: 5;
            width: 25px;
            text-align: center;
            height: 20px;
            overflow: hidden;
            background: red;
            border-radius: 100px;
            color: white;
            p {
              margin: 0;
              padding: 0;
            }
          }
          p {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
    .input{
      text-align: center;
      width: 100%;
      position: relative;
      margin: 20px 0px;
      p{
        font-size: 80%;
        background: linear-gradient(#4C0A0A,#790B0B);
        color: white;
        width: 25%;
        padding: 2px;
        border-radius: 200px;
        position: absolute;
        top: -9px;
        left: 20px;
        margin: 0;
      }
      input{
        width: 97%;
        padding: 15px 10px;
        border: none;
        border: solid 1px #4C0A0A;
        background: none;
        color: #4C0A0A;
        border-radius: 200px;
      }
    }
   .messages {
     color: red;
     text-align: center;
   }

   .profile-form {
     height: 60vh;
     overflow: hidden;
     overflow: scroll;
     .dbtn {
      display: flex;
      justify-content: center;
      align-items: center;
          button {
          height: 50px;
          width: 60%;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          background: linear-gradient(#4C0A0A,#790B0B);
          color: white;
      }
    }
    // .time {
    //   margin-right: 2px;
    //   margin-left: 2px;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   ion-item{
    //     border: 1px solid #4C0A0A;
    //     padding-right:3px;
    //     border-radius: 200px;
    //     margin-bottom:2px;
    //     width: 50%;
    //     height: 70px;
        
    //   }
    // }
   }
   .pack {
     display: flex;
     justify-content: center;
     align-items: center;
     h2 {
      background: linear-gradient(#4C0A0A,#790B0B);
      width: 60%;
      color: white;
      border-radius: 200px;
     }
   }
}