

<ion-content >
    
    <div #map id="map" (click)="showTab()"></div> 
<!-- 
    <div class="viewImage">
        <div (click)="openImage('', 'close')" class="close"><p>x</p></div>
        <img (click)="selectImage()" *ngIf="viewImage.image" src="{{viewImage.image}}" alt="">
        <img *ngIf="!viewImage.image" src="https://icon-library.net/images/image-placeholder-icon/image-placeholder-icon-3.jpg" alt="">
      </div> -->



    <!-- <div class="viewImage" *ngFor = "let item of NewData">
        <div (click)="openImage('', 'close')" class="close"><p>x</p></div>
        <img *ngIf="item.image" src="{{item.image}}" alt="">
        <img *ngIf="!item.image" src="https://icon-library.net/images/image-placeholder-icon/image-placeholder-icon-3.jpg" alt="">
      </div> -->

    <!-- <div  padding class="profile"  *ngFor = "let item of NewData" >
      <ion-thumbnail (click)="openImage('', 'open')">
          <img *ngIf="!item.image" src="../../assets/icon2.png" class="thumbavatar">
          <img *ngIf="item.image" src="{{item.image}}" class="thumbavatar" imageViewer (close)="callbackAfterImageViewerCloses()">
        
      </ion-thumbnail>
    </div> -->
    <!-- <button (click)="pushNotification()">push notification</button>
    -->

    <div #list  [ngClass]="{'list': display, 'listinactive': !display}">
      <div (click)="swipeUp()" class="toggler">
          <ion-icon *ngIf="display" class="arrow" name="arrow-dropdown"></ion-icon>
          <ion-icon *ngIf="!display" class="arrow" name="arrow-dropup"></ion-icon>
      </div>
      <div class="s-list">
        <div class="card" *ngFor="let data of NewRequeste; let i = index">
          <div class="image">

            <!-- <img *ngIf="data.image" src="../../assets/logo.png" alt=""> -->


            <img *ngIf="!data.image" src="https://icon-library.net/images/image-placeholder-icon/image-placeholder-icon-3.jpg" alt="">
          </div>
          <div class="details" >
    
            <p>Date In: {{data.doc.datein}}</p>
            <p>Date Out: {{data.doc.dateout}}</p>
          </div>
           
         
          <div class="call">
            <button expand="full" (click)="Decline(data.doc, data.docid, i)">Decline</button>
          </div>
          <div class="request">
            <button expand="full" (click)="Accept(data, i, data.docid)">Accept</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div #map id="map"></div>   -->
</ion-content>
<!-- ion-button round small  -->